<div p-gallery>
  <div p-gallery-item>
    <div p-gallery-caption>
      <%- theme.gallery.icon %>
      <span></span>
    </div>
    <div p-gallery-image>
      <a><img></a>
    </div>
  </div>
</div>