<div p-records>
  <div p-record>
    <div p-record-caption>
      <%- theme.records.icon %>
      <span data-lang="records.caption"></span>
    </div>
    <div p-record-main>
      <img p-record-cover src="<%- theme.records.cover %>">
      <div p-record-content>
        <div p-record-title></div>
        <div p-record-type></div>
        <div p-record-author></div>
        <div p-record-source></div>
        <div p-record-progress></div>
        <div p-record-intro></div>
      </div>
    </div>
  </div>
</div>